$primary: #3D85BD;
$primary-dark: #3779AA;
$primary-light: #4E73DF;
$primary-lightness: #1F8CFF;
$secondary-lightness: #EBEFF5;
$secondary-lighter: #F2F5F7;
$secondary: #232C30;
$secondary-dark: #1F272B;

$gray-lighter: #F9F9F9;
$gray-light: #f8f8f8;
$gray: #D1D4DE;
$gray-dark: #CCC;
$gray-darkness: #636563;

$white: #ffffff;
$black-light: #363636;
$black: #0e0e0e;
$red: #d41111;
$green: #18aa18;