@use '../../styles/colors.scss' as *;

.mainHeaderWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  button {
    line-height: 30px;
    padding: 0 1rem;
    border: 0;
    background-color: $primary;
    color: $white;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s;

    &:hover {
      opacity: .9;
    }
  }
}

.modulesListWrap {
  background-color: $white;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.144);

  .subjectFiltersWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;

    span {
      font-size: 1.125rem;
      font-weight: 600;
    }

    .searchClassInputWrap {
      position: relative;
      display: flex;
      align-items: center;

      span {
        position: absolute;
        left: .825rem;
        width: 24px;
        height: 24px;
        color: $gray-darkness;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      input[type="text"] {
        line-height: 40px;
        padding: 0 1rem 0 3rem;
        border-radius: 20px;
        border: 0;
        background-color: $secondary-lighter;
        outline: none;
        font-size: 1rem;
      }
    }

    .subjectDataOptions {
      display: flex;
      gap: 1rem;

      select {
        border-radius: 6px;
      }

      button {
        border-radius: 8px;
        background-color: $gray-dark;
      }

      .selected {
        background-color: $primary;
      }
    }
  }

  .modulesList {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    border-top: 2px solid $gray-light;
    padding: 1rem;

    .module {
      padding: 1rem;
      background-color: $gray-light;
      border-radius: 6px;

      &:hover {
        background-color: $gray-dark;
      }

      .moduleTitle {
        font-size: 1.3rem;
        font-weight: 500;
      }

      .moduleDescription {
        font-size: .8rem;
      }
    }

    .student {
      padding: 1rem;
      background-color: $gray-light;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background-color: $gray-dark;
      }

      .studentData {
        .studentTitle {
          font-size: 1.3rem;
          font-weight: 500;
        }

        .studentDescription {
          font-size: .8rem;
        }
      }

      .studentAverageGrade {
        position: relative;
        background-color: $primary;
        color: $white;
        padding: 1rem;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        font-size: 1.2rem;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .invalidGrade {
        background-color: $gray-dark;
      }
    }


    h2 {
      font-weight: 500;
      text-align: center;
    }
  }
}