@use '../../styles/colors.scss' as *;

.mainHeaderWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  button {
    line-height: 30px;
    padding: 0 1rem;
    border: 0;
    background-color: $primary-light;
    color: $white;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s;

    &:hover {
      opacity: .9;
    }
  }
}

.classListWrap {
  background-color: $white;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.144);

  .searchClassWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;

    span {
      font-size: 1.125rem;
      font-weight: 600;
    }

    .searchClassInputWrap {
      position: relative;
      display: flex;
      align-items: center;

      span {
        position: absolute;
        left: .825rem;
        width: 24px;
        height: 24px;
        color: $gray-darkness;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      input[type="text"] {
        line-height: 40px;
        padding: 0 1rem 0 3rem;
        border-radius: 20px;
        border: 0;
        background-color: $secondary-lighter;
        outline: none;
        font-size: 1rem;
      }
    }

  }

  .classList {
    width: 100%;
    border-collapse: collapse;

    .tableBodyRow {
      cursor: pointer;
      transition: .2s;

      &:hover {
        background-color: $gray-light;
      }
    }

    th {
      align-items: center;
      text-align: start;
      background-color: $secondary-lightness;
    }

    th,
    td {
      padding: .625rem;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 50%;
    }

    th:nth-child(3),
    td:nth-child(3) {
      text-align: center;
    }

    td:nth-last-child(1) {

      div {
        display: flex;
        align-items: center;
        gap: .625rem;

        button {
          line-height: 30px;
          padding: 0 1.125rem;
          border: 0;
          cursor: pointer;
          border-radius: 4px;
          color: $white;
          transition: .2s;

          &:hover {
            opacity: .9;
          }
        }

        .editButton {
          background-color: $primary;
        }

        .deleteButton {
          background-color: $red;
        }
      }

    }
  }
}


@media (max-width: 1080px) {
  td {
    white-space: normal !important;
  }
}