@use '../styles/colors.scss' as *;

.dashboardContainer {
  background-color: $secondary-lighter;

  .dashboardContentContainer {
    display: flex;
    height: calc(100% - 70px);
  }

  main {
    margin-top: 70px;
    padding: 2.5rem;
    width: 100%;
  }
}