@use '../styles/colors.scss' as *;
@use '../styles/global.scss';

.dashboardContainer {
  height: 100vh;
  background-color: $secondary-lighter;

  main {
    margin-left: 325px;
    padding: 2.5rem;
  }
}