@use '../../../../styles/colors.scss' as *;

.gradeWrap {
  display: flex;
  gap: 1rem;

  .gradeValue {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    background-color: $primary;
    color: $white;
    border-radius: 50%;
    font-weight: 500;
  }

  .gradeInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .gradeCourse {
      font-size: 1.3rem;
      font-weight: 500;
    }

    .gradeDescription {
      font-size: .8rem;
      color: $gray-darkness;
    }
  }
}