@use '../../styles/global.scss';
@use '../../styles/colors.scss' as *;

.header {
  position: sticky;
  top: 0;
  background-color: $white;
  border-bottom: 2px solid $gray-light;
  padding: 1.5rem;
}