@use '../../styles/colors.scss' as *;

.mainHeaderWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  .filterDatesWrap {
    select {
      padding: .5rem 1rem;
    }
  }
}

.gradesViewContainer {
  display: flex;
  flex-direction: column;
}