@use '../../styles/colors.scss' as *;

.gradesViewContainer {
  display: flex;
  flex-direction: column;
}

.contetGradeWrap {
  background-color: $white;
}

.contentGradeWrap>div {
  zoom: .9;
  margin: .5rem 1rem;
  padding: .5rem 1rem;
  border-radius: 8px;

  &:hover {
    background-color: $gray;
  }
}