@use '../../styles/global.scss';
@use '../../styles/colors.scss' as *;

aside {
  margin-top: 70px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 325px;
  height: calc(100vh - 70px);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.178);
  transition: .2s;

  &.sidebarActive {
    width: 65px !important;
  }

  .sideBarIcon {
    align-self: flex;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background: none;
    border: 0;
    margin-bottom: 1rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .sideBar {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;

    .sideBarNavigationOptions {
      ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style-type: none;
        gap: .5rem;
      }
    }

    .sideBarLogout {
      button {
        display: flex;
        gap: 1.5rem;
        background-color: transparent;
        width: 100%;
        padding: 1rem 4px;
        border-radius: 6px;
        border: 0;
        cursor: pointer;
        font-size: 1.2rem;
        color: initial;
        transition: .2;

        &:hover {
          background-color: $gray;
        }
      }
    }
  }
}