@use '../../../../styles/colors.scss' as *;

.accordion {
  background-color: $white;
  padding: 1rem;
  border-radius: 8px;

  &:hover {
    background-color: $gray-light;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  }

  .accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;

    .gradeWrap {
      display: flex;
      gap: 1rem;

      .gradeValueDisplay {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 48px;
        background-color: $primary;
        color: $white;
        border-radius: 50%;
        font-weight: 500;
      }

      .gradeInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .gradeCourse {
          font-size: 1.3rem;
          font-weight: 500;
        }

        .gradeDescription {
          font-size: .8rem;
          color: $gray-darkness;
        }
      }
    }

    .accordionArrow {
      display: block;
      width: 16px;
      height: 16px;
      border-top: 2px solid $gray-darkness;
      border-left: 2px solid $gray-darkness;
      transform: rotate(45deg);
    }
  }
}